<html>
<head>
	<meta charset="UTF-8">
	<title>CrossFit URJC</title> <!-- Título de la pestaña del navegador -->
	<link rel="stylesheet" href="/css/commentsStyle.css">

</head>
<body>
<header>
	<h1 class="titulo-fondo"><a href="/">CrossFit URJC</a></h1> <!-- Título de la página antes del menú -->
	<div class="icono-menu">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</div>
	<nav>
		<ul class="cont-menu">
			<li><a href="#programacion">Programación</a></li>
			<li><a href="#sobre-nosotros">Sobre nosotros</a></li>
			<li><a href="#atrevete">Atrévete</a></li>
			<li><a href="#login">Login</a></li>
		</ul>
	</nav>
	<script src="JS/menu.js"></script>
</header>
<div class="comment-container">
	<h1>Post has been deleted</h1>
	<a class="btn-back" href="/comments">Back</a>
</div>
</body>
</html>