header {
    display: flex; /* Usa flexbox */
    justify-content: space-between; /* Separa los elementos a los extremos */
    align-items: center; /* Alinea los elementos verticalmente */
    padding: 0 20px; /* Añade algo de espacio en los extremos */
    background-color: #8c0505; /* El color de fondo de tu header */
}
h1{
    color: #090000;
    text-align: center;
}


/* Estilos para el título */
.titulo-fondo {
    margin: 0; /* Elimina los márgenes por defecto */
    color: #090000; /* Color del texto para asegurar contraste */
    flex-grow: 1; /* Permite que el título crezca si es necesario */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 10px 0; /* Añade algo de espacio vertical */
}

/* Reset básico para eliminar los márgenes y el padding predeterminado */
ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Elimina los puntos de los li */
}

nav ul {
    display: flex; /* Hace que los elementos de la lista se alineen horizontalmente */
    list-style: none;
    padding: 0;
    justify-content: flex-end; /* Alinea los elementos de la lista a la derecha */
    background-color: #333; /* Color de fondo del menú */
}

nav ul li {
    margin-left: 20px; /* Añade un espacio horizontal entre los elementos */
}

nav ul li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: white; /* Color del texto de los enlaces */
    font-weight: bold; /* Hace que el texto sea negrita */
}

nav ul li a:hover {
    color: #ddd; /* Cambia el color del texto al pasar el mouse */
}

body {
    font-weight: 400;
    font-size: 1rem;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('../imagenes/fondo.jpg'); /* Establece la imagen de fondo */
    background-position: center center; /* Centra la imagen de fondo */
    margin-left: 200px;
    margin-right: 200px;: /* Elimina cualquier margen predeterminado */
min-height: 100%;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); /* Color blanco con opacidad */
    z-index: -1;
    margin: 0;
}
.content-container {
    background-color: white; /* Fondo blanco para el contenido */
    /* Aplica los estilos necesarios para tu diseño, por ejemplo: */
    margin: 0 auto; /* Centra el contenedor si es necesario */
    width: 100%; /* O el ancho que prefieras */
    min-height: 100vh; /* Asegura que el contenedor sea al menos tan alto como la pantalla */
    position: relative; /* Si vas a posicionar algún hijo de manera absoluta en relación a este */
    z-index: 2; /* Superior al z-index del pseudo-elemento */
}
header, nav, main, footer {
    position: relative;
    z-index: 1;
}
.cont-menu {
    display: none; /* Oculta el menú por defecto */
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilo para cuando el menú esté activo */
.cont-menu.active {
    display: block; /* Muestra el menú */
}
.icono-menu {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
}

.line {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}
.cont-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.show {
    display: block;
}
h2{
    color: #090000;
    text-align: center;
    margin-top: 1em; /* Espacio en la parte superior */
}

/* Estilos del formulario */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

p {
    margin: 10px 0;
}

/* Estilos para los elementos del formulario */
input[type='text'],
textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0 1em 0;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    transition: border-color 0.3s;
}

input[type='text']:focus,
textarea:focus {
    border-color: #d64f4f;
    outline: none; /* Remueve el contorno por defecto en algunos navegadores */
}

/* Estilos para el botón de enviar */
input[type='submit'] {
    background-color: #d64f4f;
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input[type='submit']:hover {
    background-color: #a53c3c;
}

/* Estilo opcional para mejorar el layout de las etiquetas */
form p {
    margin-top: 0;
    color: #666;
    font-size: 16px;
}


.testimonials {
    text-align: center;
    max-width: 600px; /* O el ancho que prefieras */
    margin: 0 auto;
}

.testimonials h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.testimonials-container {
    position: relative;
    overflow: hidden;
}

.testimonials-scroll {
    border: 1px solid #ccc;
    padding: 10px;
}

.testimonial {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.testimonial-content {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.author {
    font-weight: bold;
    margin-bottom: 5px;
}

.message {
    font-size: 0.9em;
}

.comentarios h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.comentarios blockquote {
    font-style: italic;
    color: #555;
}

.comentarios-nav {
    margin-bottom: 20px;
}

.nav-dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

.nav-dot.active {
    background-color: #333;
}

.button-comment {
    background-color: #640426;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Footlight MT Light", sans-serif;
    font-size: 1em;
    text-decoration: none;
}

.button-comment:hover {
    background-color: #b4055f;
}
.site-footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.footer-column h3 {
    margin-bottom: 20px;
}

.footer-column p {
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.read-more-btn {
    background-color: #640426;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
}

.read-more-btn:hover {
    background-color: #b4055f;
}
